@import-normalize;

/* stylelint-disable selector-max-type */
/* stylelint-disable selector-max-universal */

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}
/* stylelint-enable selector-max-type */
/* stylelint-enable selector-max-universal */
